<%= form_for(@ram) do |f| %>
  <% if @ram.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ram.errors.count, "error") %> prohibited this ram from being saved:</h2>

      <ul>
      <% @ram.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
