<h1>Listing processors</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @processors.each do |processor| %>
  <tr>
    <td><%= link_to 'Show', processor %></td>
    <td><%= link_to 'Edit', edit_processor_path(processor) %></td>
    <td><%= link_to 'Destroy', processor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Processor', new_processor_path %>
