<h1>Listing motherboards</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @motherboards.each do |motherboard| %>
  <tr>
    <td><%= link_to 'Show', motherboard %></td>
    <td><%= link_to 'Edit', edit_motherboard_path(motherboard) %></td>
    <td><%= link_to 'Destroy', motherboard, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Motherboard', new_motherboard_path %>
